* {
  margin: 0;
  padding: 0;
  color: seashell;
  opacity: 0.9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: black;
}
/*-----------HEADER--------------*/
header {
  background-color: black;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 6;
}
.logo {
  background-color: black;
  height: 50px;
  margin-left: 10px;
}
.main-menu li {
  display: inline-flex;
  margin-right: 10px;
}

/*----------------------------------------*/

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/*-----------MISSION SECTION--------------*/
.mission-box {
  display: flex;
  align-items: baseline;
  background-image: url("../images/img-mission-background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1200px;
  height: 700px;
}
.mission-banner {
  margin-top: 25%;
  background-color: black;
  text-align: center;
  top: 250px;
  flex-basis: 100%;
  line-height: 2rem;
}
/*-----------------------------------------*/

/*-----------Tea of the Month--------------*/
.featured-box {
  margin-top: 20px;
  max-width: 1000px;
  text-align: center;
  margin: 40px 0;
}

.featured-tea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.featured-tea figure img {
  width: 300px;
  height: 200px;
  margin-top: 15px;
}

.featured-tea figure figcaption {
  margin-top: 10px;
}
/*------------------------------------------*/

/*-----------LOCATIONS--------------*/
.locations-box {
  height: 500px;
  width: 1200px;
  margin: 40px 0;
  background-image: url(../images/img-locations-background.jpeg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  flex-wrap: wrap;
  padding-top: 3%;
}
.locationtitle {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 15px;
}

.address-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  text-align: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 40px 40px;
}

.box {
  flex-basis: 300px;
  background-color: black;
  opacity: 1;
  line-height: 3rem;
}
.box p {
  font-size: 18px;
}

/*------------------------------------------*/

/*-----------FOOTER--------------*/
footer {
  height: 200px;
  text-align: center;
  line-height: 3rem;
}
footer p {
  text-align: left;
  margin-left: 20px;
}
/*------------------------------------------*/
